app-session-history-item {
	ion-card-header.card-header {
		color: $primary-orange;
		padding: 0;

		h2 {
			font-weight: bold;
			margin-bottom: 2rem;
		}
	}

	ion-card.card {
		box-shadow: none;
		border-bottom: 2px solid $primary-orange;
		color: $primary-orange;

		p {
			color: $primary-orange;
		}
		
	}
}