<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <!-- TODO : the h2 should have the project name -->
          <h2>{{ item.projectId }}</h2>          
        </ion-col>
        <ion-col col-6>
          <button ion-fab mini item-end>{{ abbreviation }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content>
    <p>{{ item.tasks && item.tasks[item.currentTaskId].name }}</p>
  </ion-card-content>

  <ion-item>
    <div item-start>
      <p>{{ time | date: 'dd/MM/yyyy' }}</p>
    </div>
    <div item-end style="text-decoration: underline" (click)="handleDetailClick()">
      <p>{{ ctaText }}</p>
    </div>
  </ion-item>
</ion-card>






