<!--ion-card-subtitle>
  {{ item.tasks && item.tasks[item.currentTaskId].name }}
</ion-card-subtitle-->
<!-- <ion-card>
  <ion-card-header>
    <ion-card-title>
      {{ item.projectId }} {{ time }}
      <button ion-button size="small" (click)="handleOptionsClick()">M</button>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{ sessionStatus }}
    <button ion-button (click)="handleDetailClick()">
      {{ ctaText }}
    </button>
  </ion-card-content>
</ion-card> -->


<ion-card>
  <ion-card-header>
    <h2>Project Title</h2>
    <!-- <button ion-fab mini>P</button> -->
  </ion-card-header>

  <ion-card-content>
    <p>Task description will be here for the user</p>
  </ion-card-content>

  <ion-item>
    <div item-start>
      <p>03/05/18</p>
    </div>
    <div item-end style="text-decoration: underline">
      <p>View Results</p>
    </div>
  </ion-item>

</ion-card>






