app-session-history-item {
	ion-card-header.card-header {
		color: $primary-orange;
		padding: 0;

		h2 {
			margin-left: 1.5rem;
			padding: 1.5rem 0;
		}
	}

	ion-card.card {
		box-shadow: none;
		border-bottom: 2px solid $primary-orange;
		color: $primary-orange;

		p {
			color: $primary-orange;
		}
		
	}
}