<ion-toolbar>
    <ion-buttons slot="start">
      <button ion-button (click)="closeModal()">
        Close
      </button>
    </ion-buttons>
    <ion-title>Session Detail</ion-title>
  </ion-toolbar>
  
  <ion-content>
    <p>URL: {{ 'https://juntoscope.com/' + accountData.item.sessionCode }}</p>
    <p>Code: {{ accountData.item.accessCode }} expires {{ expirationDate }}</p>
    <button ion-button *ngIf="isModerator" (click)="refreshCode()">New Code</button>
    <button ion-button *ngIf="isModerator" (click)="deleteSession()">Delete Session</button>
</ion-content>