app-connection-list {
  ion-list.list {
    background-color: $primary-orange;
    border-bottom: 1px solid white !important;
    margin: 0;
    width: 100%;

    // header
    ion-list-header.list-header {
      background-color: $primary-orange;
      padding: 1rem 1rem 0rem 1rem;
      .icon,
      h2 {
        color: white;
        display: inline-block;
        text-transform: none;
        vertical-align: middle;
      }

      h2 {
        font-size: 24px;
        font-weight: 600;
      }

      .icon {
        font-size: 36px;
      }

      ion-label.label {
        padding: 1rem;
        margin: 1rem;
      }
    }

    // existing projects
    ion-item.item-block {
      background-color: $primary-orange;
      border-bottom: 1px solid $primary-orange;
      color: white;
    }
  }

  .list-headers {
    margin: 2rem 1rem;

    ion-list-header.list-header {
      border-bottom: 2px solid $primary-orange;
    }
  }

  ion-item.item.item-block.new-connection {
    margin-top: 20px;
    border: 2px solid #c94313;
  }

  .connections-header {
    display: grid;
    color: white;
    grid-template-columns: 0.75fr 1fr;
    margin: 10px;
    background: #f1652d;
    border-radius: 5px;

    ion-label.label {
      margin: 0;
      padding: 4px;
    }
  }

  .connection-item {
    display: grid;
    color: white;
    grid-template-columns: 0.75fr 0.75fr;

    ion-label.label {
      margin: 0;
    }
  }

  // custom buttons for android and windows
  .button-md,
  .button-wp {
    border-radius: 11px;
    &.existing-button span {
      padding-left: 8px;
      padding-right: 6px;
    }
    span {
      padding-left: 3px;
      padding-right: 2px;
    }
  }

  // custom buttons for ios
  .button-ios {
    border: none;
  }
}
