<div class="list-headers">
  <ion-list-header>
    <h2>Connections</h2>
  </ion-list-header>
</div>

<div padding>
  <ion-list no-lines>
    <ion-list-header text-center>
      <ion-label>
        <ion-icon name="contacts"></ion-icon>
        <h2>Connections</h2>
      </ion-label>
    </ion-list-header>
  
    <!-- existing connection(s)-->
    <ion-item button *ngFor="let connection of connections" (click)="select.emit(connection)">
      <ion-label>
        {{ connection.externalData.company }} - {{ connection.type }}
      </ion-label>
      <button ion-button item-end>
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-item>
  
    <!-- new connection-->
    <ion-item (click)="add.emit()">
      <ion-label>
        New Connection
      </ion-label>
      <button ion-button clear item-end>
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</div>


