<ion-header>
  <ion-navbar>
    <ion-title>JuntoScope</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p>
    First, we need a way of identifying your participation. 
    Please sign in with:
  </p>

  <button ion-button (click)="facebookLogin()" [disabled]="!hasAgreed">
    Facebook
  </button>

  <button ion-button (click)="googleLogin()" [disabled]="!hasAgreed">
    Google
  </button>

  <button ion-button (click)="twitterLogin()" [disabled]="!hasAgreed">
    Twitter
  </button>

  <p *ngIf="loading$ | async">
    Authenticating ...
  </p>

  <p *ngIf="authError$ | async as message">
    Auth Error: {{ message }}
  </p>

  <div>

    <form [formGroup]="agreeForm">
      <ion-checkbox class="form-control" formControlName="agree" name="agree"></ion-checkbox>
    </form>

    <button (click)="goToTerms()">Terms</button>
    and
    <button (click)="goToPrivacy()">Privacy Policy</button>

  </div>
</ion-content>
