<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="closeModal()">
      Close
    </ion-button>
  </ion-buttons>
  <ion-title>Session Detail</ion-title>
</ion-toolbar>

<ion-content>
  <p>URL: {{ 'https://juntoscope.com/' + accountData.item.sessionCode }}</p>
  <p>Code: {{ accountData.item.accessCode }} expires {{ expirationDate }}</p>
  <ion-button *ngIf="isModerator" (click)="refreshCode()">New Code</ion-button>
  <ion-button *ngIf="isModerator" (click)="deleteSession()">Delete Session</ion-button>
</ion-content>
