<ion-toolbar>
  <ion-title>JuntoScope</ion-title>

  <ion-buttons slot="end">
    <ion-button (click)="goSettings()">
      Settings
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <app-join-session (join)="handleJoin($event)"></app-join-session>

  <app-connection-list [connections]="connections$ | async" (add)="addConnection()" (select)="createSession($event)"></app-connection-list>

  <app-session-history-list [items]="historyItems$ | async" (options)="handleOptionClick($event)" (detail)="handleDetailClick($event)"></app-session-history-list>

  <ion-infinite-scroll #infiniteScroll (ionInfinite)="loadMore(infiniteScroll)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
