
<ion-content>

  <app-session-access *ngIf="participantState === ParticipantState.PARTICIPANT_INVALID" [sessionLink]="sessionLink" (access)="access($event)">
  </app-session-access>

  <ng-container *ngIf="participantState === ParticipantState.PARTICIPANT_VALIDATED && session && session.tasks; else noSession">

    <app-session-header [session]="session"></app-session-header>

    <app-task-card [task]="session.tasks[session.currentTaskId]"></app-task-card>

    <app-vote (vote)="vote($event)"></app-vote>

    <p>
      {{ (session.tasks[session.currentTaskId].votes | objKeys).length}} of {{ (session.participants | objKeys).length}} votes counted
    </p>

  </ng-container>

  <ng-template *ngIf="participantState === ParticipantState.PARTICIPANT_VALIDATED" #noSession>
    No session found
  </ng-template>
</ion-content>
