app-session-access {
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    ion-item.item-block.item[no-lines] {
      border: 2px solid $primary-orange;
      border-radius: 10px;
      height: 8%;
      margin-bottom: 1rem;
      width: 90%;

      ion-input.input {
        color: #000;
        font-weight: 400;
      }
    }

    p {
      font-style: italic;
      width: 80%;
    }
  }

  button.button {
    align-items: center;
    width: 60%;
  }
}
