<p>Enter Access Code</p>

<form [formGroup]="accessForm" (ngSubmit)="continue()">
  <ion-input class="form-control" type="text" formControlName="code" name="code"></ion-input>

  <ng-container *ngIf="accessForm.get('code') as codeCtrl">
    <h6 *ngIf="codeCtrl.dirty && codeCtrl.hasError('required')" class="error input-error">
      Access Code is required
    </h6>
  </ng-container>

  <h6 *ngIf="error$ | async as error">
    {{ error }}
  </h6>

  <button ion-button type="submit">Start Scope</button>
</form>