<form [formGroup]="accessForm" (ngSubmit)="continue()">
  <h3 text-center>Enter Access Code</h3>

  <ion-item no-lines>
    <ion-input class="form-control" type="text" formControlName="code" name="code" clearInput text-center></ion-input>
  </ion-item>

  <ng-container *ngIf="accessForm.get('code') as codeCtrl">
    <p *ngIf="codeCtrl.dirty && codeCtrl.hasError('required')" class="error input-error">
      Access Code is required
    </p>
  </ng-container>

  <button ion-button type="submit">START SCOPE</button>
</form>