<ion-list>
    <ion-list-header>
      <ion-label>
        History
      </ion-label>
    </ion-list-header>
  
    <ion-item-group>
      <ion-item-divider text-wrap>
        <ion-label>
          View completed session results or continue scoping
        </ion-label>
      </ion-item-divider>
  
      <app-session-history-item *ngFor="let item of items" [item]="item" [uid]="uid" [time]="item.participants[uid]" (options)="handleOptionClick($event, item)" (detail)="handleDetailClick($event, item)"></app-session-history-item>
    </ion-item-group>
</ion-list>