<div class="list-headers">
  <ion-list-header no-lines>
    <h2>History</h2>
  </ion-list-header>
</div>

<div padding>
  <ion-list>
    <ng-container *ngIf="items.length">
      <app-session-history-item *ngFor="let item of items" [item]="item" [uid]="uid" [time]="item.participants[uid]" (options)="handleOptionClick($event, item)" (detail)="handleDetailClick($event, item)"></app-session-history-item>
    </ng-container>

    <ng-container *ngIf="!items.length">
      <p text-center padding>You don't have any history yet. Join or start a session to add it to your history</p>
    </ng-container>
  </ion-list>
</div>






