<ion-header>
  <ion-navbar>
    <ion-title>Share Scope Link</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container">
  <h2>{{connectionName}}</h2>
  <h2>{{projectName}}</h2>

  <div class="share-box">
    <h4>Session Url</h4>
    <div class="share-url-section">
      <p class="session-url">https://juntoscope.com/{{sessionUrl}}</p>
      <ion-icon name="link"></ion-icon>
    </div>
    <h4>Access Code</h4>
    <div class="access-code-letters">
      <p *ngFor="let letter of accessCodeLetters" class="single-letter">
        {{ letter }}
      </p>
    </div>
  </div>

  <button ion-button (click)="startScoping()">
    Start Scoping
  </button>
</ion-content>
