<ion-header>
  <ion-navbar>
    <ion-title text-center>JUNTOSCOPE</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
  
<ion-content>
  <app-join-session (join)="handleJoin($event)"></app-join-session>
  
  <app-connection-list [connections]="connections$ | async" (add)="addConnection()" (select)="createSession($event)"></app-connection-list>
  
  <app-session-history-list [uid]="uid$ | async" [items]="historyItems$ | async" (options)="handleOptionClick($event)" (detail)="handleDetailClick($event)"></app-session-history-list>
  
  <!-- <ion-infinite-scroll #infiniteScroll (ionInfinite)="loadMore(infiniteScroll)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>