app-dashboard {
  ion-infinite-scroll ion-infinite-scroll-content.dashboard-spinner {
    .infinite-loading .infinite-loading-spinner {
      ion-spinner.spinner {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 28px;
      }
    }
  }
}
