app-session-results {
  .session-results-top {
    text-align: center;
    h1 {
      text-transform: uppercase;
    }
  }
  ion-list.list {
    border-top: 2px solid $primary-orange;
  }
  
  ion-list.list > ion-item.item.item-block .item-inner {
    border-bottom: 2px solid $primary-orange;
  }
}
