<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>JuntoScope</ion-title>
</ion-toolbar>

<ion-content>
  <p>
    First, we need a way of identifying your participation. 
    Please sign in with:
  </p>

  <ion-button (click)="facebookLogin()">
    Facebook
  </ion-button>

  <ion-button (click)="googleLogin()">
    Google
  </ion-button>

  <p *ngIf="loading$ | async">
    Authenticating ...
  </p>

  <p *ngIf="authError$ | async as message">
    Auth Error: {{ message }}
  </p>


  <ion-button routerLink="/terms">Terms</ion-button>
  <ion-button routerLink="/privacy">Privacy Policy</ion-button>
</ion-content>
