<ion-header>
  <ion-navbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons> -->
    <ion-title>Select Project</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="projects$ | async">
    <app-project-list [projects]="projects$ | async" (select)="handleProjectSelect($event)"></app-project-list>
  </ng-container>

  <!-- TODO: Empty state for no projects within the connection-->
  <ng-container *ngIf="!projects$ | async">
    <h2>You have no task projects for this specific connection!</h2>
  </ng-container>
</ion-content>
