// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Breakpoints
// --------------------------------------------------
$sm-min: 769px;
$md-min: 992px;
$lg-min: 1200px;



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #C94313,
  secondary:  #F1652D,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$grayscale: (
  first: #2e2e2e,
  second: #5c5c5c,
  third: #8b8b8b,
  fourth: #b9b9b9,
  fifth: #e7e7e7,
  background: #f7f7f7
);

$primary-orange: #C94313;

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// primary textcolor
$text-color: $primary-orange;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// Searchbar
$searchbar-ios-toolbar-input-background: white;
$searchbar-ios-input-clear-icon-color: color($grayscale, third);
$searchbar-ios-input-search-icon-color: color($grayscale, fourth);
$searchbar-ios-input-placeholder-color: color($grayscale, fourth);

// Item detail-push
$item-ios-detail-push-color: $primary-orange;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Searchbar
$searchbar-md-background-color: color($grayscale, fifth);
$searchbar-md-input-box-shadow: none;
$searchbar-md-input-placeholder-color: color($grayscale, fourth);
$searchbar-md-input-search-icon-color: color($grayscale, fourth);
$searchbar-md-input-text-color: color($grayscale, first);

// Item detail-push
$item-md-detail-push-show: true;
$item-md-detail-push-color: $primary-orange;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// Searchbar
$searchbar-wp-background-color: color($grayscale, background);
$searchbar-wp-border-color: color($grayscale, background);
$searchbar-wp-input-placeholder-color: color($grayscale, fourth);
$searchbar-wp-input-text-color: color($grayscale, first);

// Item detail-push
$item-wp-detail-push-show: true;
$item-wp-detail-push-color: $primary-orange;


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Bold'),
       url('../assets/fonts/Avenir-Next/bold.woff2') format('woff2'),
       url('../assets/fonts/Avenir-Next/bold.woff') format('woff'),
       url('../assets/fonts/Avenir-Next/bold.ttf') format('ttf'),
       url('../assets/fonts/Avenir-Next/bold.eot?#iefix') format('eot');
  font-weight: 700;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Demi Bold'),
       url('../assets/fonts/Avenir-Next/demi.woff2') format('woff2'),
       url('../assets/fonts/Avenir-Next/demi.woff') format('woff'),
       url('../assets/fonts/Avenir-Next/demi.ttf') format('ttf'),
       url('../assets/fonts/Avenir-Next/demi.eot?#iefix') format('eot');
  font-weight: 600;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Medium'),
       url('../assets/fonts/Avenir-Next/medium.woff') format('woff'),
       url('../assets/fonts/Avenir-Next/medium.ttf') format('truetype'),
       url('../assets/fonts/Avenir-Next/medium.eot?#iefix') format('eot');
  font-weight: 500;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Regular'),
       url('../assets/fonts/Avenir-Next/regular.woff') format('woff'),
       url('../assets/fonts/Avenir-Next/regular.ttf') format('ttf'),
       url('../assets/fonts/Avenir-Next/regular.eot?#iefix') format('eot');
  font-weight: 400;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Thin'),
       url('../assets/fonts/Avenir-Next/thin.woff2') format('woff2'),
       url('../assets/fonts/Avenir-Next/thin.woff') format('woff'),
       url('../assets/fonts/Avenir-Next/thin.ttf') format('ttf'),
       url('../assets/fonts/Avenir-Next/thin.eot?#iefix') format('eot');
  font-weight: 300;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Ultra Light'),
       url('../assets/fonts/Avenir-Next/ultralight.woff2') format('woff2'),
       url('../assets/fonts/Avenir-Next/ultralight.woff') format('woff'),
       url('../assets/fonts/Avenir-Next/ultralight.ttf') format('ttf'),
       url('../assets/fonts/Avenir-Next/ultralight.eot?#iefix') format('eot');
  font-weight: 200;
  unicode-range: U+000-5FF;
}

$font-family-base: "Avenir Next";
$font-family-ios-base: $font-family-base;
$font-family-md-base: $font-family-base;
$font-family-wp-base: $font-family-base;