app-result-estimate {
  .result-estimate-container {
    align-items: center;
    display: flex;
    flex-direction: column;

    h2,
    h3 {
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    p {
      font-size: 16px;
      text-transform: capitalize;
      margin: 10px 0 20px 0;
    }


    .box-estimate {
      background: white;
      border: 1px solid $primary-orange;
      border-radius: 4px;
      font-size: 34px;
      font-weight: bold;
      margin: 0;
      padding: 10px 25px;
      position: initial;
    }


    .final-estimate-container {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: rgba(255, 200, 148, 0.5);
      width: 85%;
      border-radius: 6px;
    }
  }

  .border {
    border-bottom: 2px solid $primary-orange;
  }
}
