app-result-estimate {
  .result-estimate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2,
    h3 {
      text-transform: uppercase;
    }
    p {
      text-transform: capitalize;
      font-size: 16px;
    }
    .estimate-container {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: rgba(255, 200, 148, 0.5);
      width: 85%;
      border-radius: 6px;
    }
    .hours-estimate {
      display: flex;

      p {
        margin-right: 5px;
        font-size: 18px;
        position: absolute;
        margin-left: 70px;

        &.box-estimate {
          background: rgb(255, 255, 255);
          position: initial;
          margin-left: 0px;
          border: 1px solid;
          font-weight: bold;
          padding: 15px 20px 15px 20px;
          font-size: 25px;
          border-radius: 6px;
          margin-bottom: 0px;
        }

        &.box-estimate-subtext {
          margin-top: 40px;
        }
      }
    }
  }
}
