<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-title>Settings</ion-title>
</ion-toolbar>

<ion-content>
  <ion-button type="button" (click)="logout()">
    Logout
  </ion-button>

  <p>Connections</p>

  <ion-list class="list-connections">
    <ion-item *ngFor="let connection of connections$ | async" (click)="viewConnectionDetails(connection.id)">
      {{connection.externalData.company}} {{connection.type}}
      <ion-icon name="ion-chevron-right"></ion-icon>
    </ion-item>
    <ion-item (click)="addConnection()">
      Add Connection
      <ion-icon name="ion-chevron-right"></ion-icon>
    </ion-item>
  </ion-list>

  <p>FAQ</p>

  <ion-list class="list-faq">
    <ion-item *ngFor="let faq of faqs$ | async" (click)="viewFaqDetails(faq)">
      {{faq.question}}
      <ion-icon name="add"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
