<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-title>Settings</ion-title>
</ion-toolbar>

<ion-content>
  <ion-button type="button" (click)="logout()">
    Logout
  </ion-button>
  <ion-button type="button">
    Delete Account
  </ion-button>

  <p>Connections</p>

  <ion-list>
      <ion-item (click)="viewConnectionDetails(123)">
        Connection 123
      </ion-item>
      <ion-item (click)="addConnection()">
        Add Connection
      </ion-item>
  </ion-list>

  <p>FAQ</p>

</ion-content>
