<div>
  <form [formGroup]="voteForm" (ngSubmit)="sendVote()">
    <ion-input class="form-control" type="text" formControlName="estimate" name="estimate"></ion-input>

    <h6 *ngIf="error">
      {{ error }}
    </h6>

    <ion-button type="submit" [disabled]="!voteForm.controls['estimate'].valid">Submit</ion-button>
  </form>

  Need more info
  <ion-button (click)="needMoreInfo()"><ion-icon name="information-circle"></ion-icon></ion-button>

  Not applicable
  <ion-button (click)="notApplicable()">N/A</ion-button>
</div>
