<ion-header>
  <ion-navbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>Add Connection</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ng-container *ngIf="!type">
      <button ion-button (click)="setType('teamwork')" >Teamwork</button>
    </ng-container>
    
    <ng-container *ngIf="type">
      <form [formGroup]="connectionForm" (ngSubmit)="continue()">
        <ion-input class="form-control" type="text" formControlName="token" name="token"></ion-input>
        
        <ng-container *ngIf="connectionForm.get('token') as tokenCtrl">
          <h6 *ngIf="tokenCtrl.dirty && tokenCtrl.hasError('required')" class="error input-error">
            Token is required
          </h6>
        </ng-container>

        <h6 *ngIf="addError$ | async as error">
          {{ error }}
        </h6>

        <p>
          <button ion-button href="">Where do I find this?</button>
        </p>

        <button ion-button type="submit">Allow access</button>
      </form>
    </ng-container>
</ion-content>