<ion-header>
  <ion-navbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons> -->
    <ion-title>Select Task List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="taskLists$ | async as taskLists">

    <ion-list>
      <ion-list-header text-center>
        <ion-label>
          <ion-icon name="contacts"></ion-icon>
          <h2>Connections</h2>
        </ion-label>
      </ion-list-header>

      <app-task-list *ngFor="let taskList of taskLists" [taskList]="taskList" (toggle)="handleToggle($event, taskList)"></app-task-list>
    </ion-list>

    <div class="start-btn" text-center>
      <button ion-button (click)="startSession()" [disabled]="!taskListIds || taskListIds.length === 0">START</button>
    </div>
  </ng-container>
</ion-content>
